.errorPage {
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    /*background-image: url("../../assets/images/404pageBg.jpg");*/
    background-position: center;
    background-size: cover;
    font-family: Sintony, sans-serif;
    align-items: center;
}

.errorPage::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(125deg, rgba(45, 64, 82, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
}

h1 {
    font-family: Sintony, sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 176px;
    font-size: 160px;
    text-transform: uppercase;
    position: relative;
}

.firstP {
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8em;
    color: #fa6e4f;
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: 50px;
    position: relative;
}


.thirdP, .secondP {
    position: relative;
    color: #ffffff;
    margin: 10px 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 18px;
}

.item a {
    font-weight: 400;
    line-height: 26px;
    font-family: Poppins, sans-serif;
    position: relative;
    font-size: 18px;
    color: #fa6e4f;
}
