.button {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #26cbdb;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    border-color: transparent;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.button:disabled{
    background-color: #ecc8c3;
}

.button:hover {
    background-color: #05a5b3;
}

