.image_upload {
    display: flex;
    height: 30%;
    width: 30%;
    background: hsla(0, 0%, 100%, .7) none no-repeat scroll 50%;
    background-size: 50%;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: -4px;

    .input_label {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-image: url("../../assets/profile/icons8-camera-96.png");
        background-size: inherit;
        background-position: 50%;
        background-repeat: no-repeat;

        .photoLoad {
            display: none;
            width: 100%;
        }
    }
}

.btn_image_upload {
    display: flex;
    height: 30%;
    width: 30%;
    background: hsla(0, 0%, 100%, .7) none no-repeat scroll 50%;
    background-size: 50%;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    position: absolute;
    right: 120px;
    bottom: -4px;

    .btn_label {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-image: url("../../assets/profile/icons8-upward-arrow-64.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;

        .sentBtn {
            display: none;
            width: 100%;
        }

        .file_size {
            position: absolute;
            font-size: 12px;
            right: 0;
            top: 50px;
        }
    }
}
