.logoutForm {
    padding: 10px;
    transition: color .3s;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    line-height: 20px;
}